.priceD {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

    .oldPrice {
        font-size: 14px;
        color: #757575;
        text-decoration: line-through;
        
        &.active {
            text-decoration: none !important;
            color: #41A58D !important;
            font-size: 16px !important;
            font-weight: 600;
        }
    }

    .newPrice {
        color: #41A58D;
        font-weight: 600;
        display: none;
        font-size: 17px;

        &.active {
            display: unset;
        }
    }
}

@media screen and (max-width: 500px) {
    .priceD {
        flex-direction: column;
        
        .newPrice {
            font-size: 15px;
        }
    }
}