#admin-moderators-users {
    background-color: #f5f5f5;
    min-height: 100vh;

    .admin-item {
        padding: 20px 20px 20px 370px;

        &.wd {
            padding-left: 120px;

            td, th {
                font-size: 16px !important;
            }
        }

        .title {
            font-size: 24px;
            font-weight: 600;
            color: #303030;
        }

        .users-list {
            background-color: #fff;
            padding: 20px;
            width: 100%;
            margin-top: 10px;
            border-radius: 10px;

            .tool {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .tool-left {
                    display: flex;

                    label {
                        display: flex;
                        width: 100px;
                        color: #767676;
                        font-size: 14px;
                    }

                    select {
                        outline: none;
                        border: 2px solid #F2F2F2;
                        border-radius: 8px;
                        cursor: pointer;
                        padding: 7px 15px;
                    }
                }

                .tool-right {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    form {
                        display: flex;
                        position: relative;
                        align-items: center;

                        input {
                            padding: 7px 40px 7px 10px;
                            font-size: 16px;
                            outline: none;
                            border: 1px solid #767676;
                            border-radius: 5px;
                            border: 1px solid #F2F2F2;
                        }

                        button {
                            position: absolute;
                            right: 10px;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                        }
                    }

                    select {
                        color: #41A58D;
                        padding: 8px 15px;
                        font-size: 16px;
                        border-radius: 7px;
                        outline: none;
                        cursor: pointer;
                        border: 1px solid #F2F2F2;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 36px;
                        height: 36px;
                        background-color: #41A58D;
                        border-radius: 5px;
                    }
                }
            }

            .user-table {
                margin-top: 30px;
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 20px;

                th,
                td {
                    padding: 12px 15px;
                    text-align: left;
                    font-size: 14px;
                }

                tr {
                    border-bottom: 1px solid #D9D9D9;
                }

                tr:nth-child(odd) {
                    background-color: #fff !important;
                }
                
                tr:nth-child(even) {
                    background-color: #f5f5f5 !important;
                }

                th {
                    font-weight: 400;
                    color: #29997F;
                }

                td {
                    border-bottom: 1px solid #ddd;
                    color: #5A5A5A;
                }

                input[type="checkbox"] {
                    cursor: pointer;
                }

                .action-btn {
                    background: none;
                    border: none;
                    color: #007bff;
                    cursor: pointer;
                    font-size: 18px;
                    padding: 5px;

                    &:hover {
                        color: #0056b3;
                    }
                }

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }

            .pagination {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .soni {
                    color: #B3B3B3;
                    font-size: 14px;
                }

                .users-pages-buttons {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    button {
                        width: 30px;
                        height: 30px;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        font-size: 17px;
                        display: flex;
                        align-items: center;

                        img {
                            width: 20px;
                        }

                        &.active {
                            color: #41A58D;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}