.upload-image-container {
    width: 100%;
    height: 200px;
    border: 1px solid #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #41A58D;
        position: absolute;
        content: "Drop it";
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 30px;
        color: #fff;
        font-weight: 600;
        opacity: 0;
        z-index: -1;
        transform: all 0.5s;
        transform: scale(0.9);
    }
    &.dragging {
        &::after {
            opacity: 1;
            z-index: 1;
            transform: unset;
        }
    }

    &:hover {
        background-color: #f8f8f8;
    }

    p {
        width: 280px;
        font-size: 16px;
        font-weight: 400 !important;
        text-align: center;

        span:first-child {
            color: #41A58D;
        }

        span:nth-child(2) {
            color: #111827;
        }

        span:nth-child(3) {
            color: #6B7280;
        }
    }
}

#loaded-img {
    margin-top: 15px;
    display: flex;
    gap: 10px;

    div {
        position: relative;
        width: 130px;
        height: 130px;
        border-radius: 7px;
        box-shadow: 0 0 5px #00000052;
        
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 7px;
            cursor: pointer;
        }

        button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            border: none;
            cursor: pointer;
            position: absolute;
            top: -5px;
            right: -5px;
            box-shadow: 0 0 5px #00000052;
        }
        .cover-label, .set-cover {
            background-color: #0C0C0D33;
            padding: 5px;
            color: #fff;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            left: 5px;
            max-width: 85%;
        }
    }
}


.tox.tox-silver-sink.tox-tinymce-aux {
    display: none;
}