.tox {
    margin-top: 7px;
    height: 250px !important;


    .tox-menubar {
        display: none !important;
    }

    .tox-statusbar {
        display: none !important;
    }

    .tox-edit-area__iframe {
        background-color: #F8F8F8 !important;
        border: 1px solid #f2f2f2 !important;
        outline: unset !important;
        border: unset !important;
        font-size: 20px !important;
    }

    &:not(.tox-tinymce-inline) .tox-editor-header {
        box-shadow: unset !important;
        padding: unset !important;
    }

    .tox-toolbar__primary {
        border: unset !important;
    }
}

.tox .tox-toolbar-overlord {
    background-color: #f8f8f8 !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
    background-color: #F8F8F8 !important;
    background-image: unset !important;
}

.tox .tox-tbtn {
    background: #f8f8f8 !important;
    height: 40px !important;
    width: 40px !important;
    cursor: pointer;
    transition: all 0.5s !important;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        transition: all 0.5s !important;
        position: unset !important;
        transform: unset !important;
    }

    &:hover {
        background-color: #41A58D !important;

        span {

            svg {
                fill: #fff;
            }
        }
    }

    &.tox-tbtn--enabled {
        background-color: #41A58D !important;
        color: #fff !important;
        
        span {

            svg {
                fill: #fff;
            }
        }
    }
}

.tox.tox-edit-focus .tox-edit-area::before {
    opacity: 0 !important;
}

.mce-content-body {
    margin: 0 !important;

    p {
        margin: 0 !important;
    }
}

.tox-notifications-container {
    display: none !important;
}