#courses {
    padding: 30px 50px;
    max-width: 1366px;
    margin: 0 auto;

    .title {
        display: flex;
        justify-content: space-between;

        h2 {
            font-weight: 600;
        }

        a {
            color: #41A58D;
            padding: 8px 15px;
            border: 1px solid #F3F3F3;
            border-radius: 7px;

            &:hover {
                background-color: #41A58D;
                color: #fff;
            }
        }
    }

    .course-cards {
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 15px;
        
        .course-card {
            opacity: 0;
            transform: translateY(30px);
            transition: all 1s;
            width: 280px;

            .card-img {
                width: 100%;
                height: 190px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
            a {
                color: #118E71;
                margin: 10px 0 0;
                display: block;
            }

            .card-title {
                color: #4B4B4B;
                font-size: 18px;
                font-weight: 600;
                margin: 10px 0;
            }

            .card-description {
                color: #757575;
                margin: 10px 0;
            }

            .line {
                height: 1px;
                background-color: #D9D9D9;
            }

            .about-card {
                display: flex;
                justify-content: space-between;

                .detail {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #757575;
                    gap: 5px;
                    border-right: 1px solid #D9D9D9;
                    padding-right: 8px;
                    margin: 10px 0;

                    &:last-child {
                        border: unset;
                    }

                    svg {
                        width: 17px !important;
                        height: 17px !important;
                    }
                }
            }

            .author {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #757575;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.visible {
    opacity: 1;
    transform: unset;
}

@media screen and (max-width: 500px) {
    #courses {
        padding: ;
    }
}