.profile-container {
    background-color: #F5F5F5;

    .to-back {
        background-color: #41A58D;
        height: 50px;
        margin-top: 146px;

        .backInner {
            margin: 0 auto;
            max-width: 1366px;
            align-items: center;
            display: flex;
            height: 100%;
            padding: 0 50px;
            color: #fff;

            span {
                display: flex;
                align-items: center;
            }

            a {
                color: #fff;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    .profile-inner {
        padding: 30px 50px;
        display: flex;
        justify-content: center;
        gap: 20px;

        .left {
            width: 25%;
        }

        .right {
            width: 70%;
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;

            .page-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-weight: 600;
                    font-size: 24px;
                }
            }
        }
    }
}