.tyu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 999999;
    &.scrolled {
        background-color: #fff;
    }
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 30px 10px;
    a.active-link {
        opacity: 0.5;
    }
    #acc {
        a:hover {
            opacity: 0.5;
        }
    }
    .top-side {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dedede;
        padding: 0 0 10px;
        a {
            transition: all 0.3s;
        }
        .top-left {
            display: flex;
            gap: 30px;
            align-items: center;

            a {
                color: #5A5A5A;
                font-size: 17px;
                font-weight: 500;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
        .top-right {
            ul {
                align-items: center;
                display: flex;
                gap: 20px;
                li {
                    a {
                        display: flex;
                        align-items: center;
                        color: var(--second-color);
                        gap: 3px;

                        .down-arrow {
                            font-size: 12px;
                        }
                    }
                }
                li {
                    ul {
                        display: flex;
                        flex-direction: column;
                        row-gap: 0;
                        border-radius: 7px;
                        position: absolute;
                        background-color: #41A58D;
                        left: 0;
                        li {
                            a {
                                color: #fff;
                                display: flex;
                                align-items: center;
                                padding: 7px 15px;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        .logo {
            a {
                font-weight: 600;
                color: var(--main-color);
                opacity: 1 !important;

                svg {
                    width: 160px;
                    height: 50px;
                }
            }
        }
        ul {
            display: flex;
            align-items: center;
            gap: 20px;
            li {
                a {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    color: #303030;
                    font-size: 17px;
                    font-weight: 500;
                    &:hover {
                        padding: 7px 10px !important;
                        background-color: #41A58D !important;
                        border-radius: 20px !important;
                        color: #fff !important;
                        svg path {
                            stroke: #fff;
                        }
                        svg circle,
                        svg polygon {
                            stroke: #fff;
                        }
                    }
                    &.active {
                        padding: 7px 10px !important;
                        background-color: #41A58D !important;
                        border-radius: 20px !important;
                        color: #fff !important;
                        svg path {
                            stroke: #fff;
                        }
                    }
                }
            }
        }
        #rightt {
            li {
                form {
                    display: flex;
                    align-items: center;

                    input {
                        border: none;
                        padding: 5px;
                        border-bottom: 1px solid var(--main-color);
                        outline: none;
                        color: var(--second-color);
                        font-size: 16px;
                        width: 0;
                        transition: all 0.3s;
                        opacity: 0;
                        background-color: transparent;
                        &.width {
                            opacity: 1;
                            width: 205px;
                        }
                    }
                    button {
                        background-color: transparent;
                        border: none;
                        font-size: 24px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        svg {
                            color: var(--main-color);
                        }
                    }
                }
            }
            li {
                a {
                    color: var(--main-color);
                    font-size: 20px;
                }
            }
            li {
                button {
                    background-color: var(--main-color);
                    border: none;
                    font-size: 24px;
                    border-radius: 7px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    color: #fff;
                }
            }
        }
    }
}
.dropdown {
    background-color: #F5F5F5;
    padding: 3px 5px;
    border-radius: 5px;
    position: relative;
    ul {
        margin-top: 5px;

        svg path {
            stroke: #fff;
        }
    }
}
.for-search {
    height: 0;
    transition: all 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    &.df {
        height: 65px;
    }
    &.bg {
        background-color: #fff;
    }
}
.full-menu {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 9999992;
    background-color: #41A58D;
    padding: 20px 50px;
    & * svg path {
        stroke: #fff;
    }
    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left, #348572f5, #348572f5);
        z-index: 9999991;
    }
    &.active {
        top: 0;
    }
    &>div {
        position: relative;
        z-index: 9999994;
    }
    .top-side {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dedede;
        padding: 0 0 10px;
        max-width: 1366px;
        margin: 0 auto;
        a {
            transition: all 0.3s;
        }
        .top-left {
            display: flex;
            gap: 30px;
            align-items: center;
            a {
                color: #fff;
                font-size: 17px;
                font-weight: 500;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
        .top-right {
            ul {
                align-items: center;
                display: flex;
                gap: 20px;
                li {
                    a {
                        display: flex;
                        align-items: center;
                        color: var(--second-color);
                        gap: 3px;
                        .down-arrow {
                            font-size: 12px;
                        }
                    }
                }
                li {
                    ul {
                        display: flex;
                        flex-direction: column;
                        row-gap: 0;
                        border-radius: 7px;
                        position: absolute;
                        background-color: #41A58D;
                        left: 0;
                        li {
                            a {
                                color: #fff;
                                display: flex;
                                align-items: center;
                                padding: 7px 15px;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        .logo {
            a {
                font-weight: 600;
                color: var(--main-color);
                opacity: 1 !important;
                svg {
                    width: 160px;
                    height: 50px;
                    fill: #fff;
                }
            }
        }
        ul {
            display: flex;
            align-items: center;
            gap: 20px;
            li {
                a {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    color: #303030;
                    font-size: 17px;
                    font-weight: 500;
                    &:hover {
                        padding: 7px 10px !important;
                        background-color: #41A58D !important;
                        border-radius: 20px !important;
                        color: #fff !important;
                        svg path {
                            stroke: #fff;
                        }
                        svg circle,
                        svg polygon {
                            stroke: #fff;
                        }
                    }
                    &.active {
                        padding: 7px 10px !important;
                        background-color: #41A58D !important;
                        border-radius: 20px !important;
                        color: #fff !important;
                        svg path {
                            stroke: #fff;
                        }
                    }
                }
            }
        }
        #rightt {
            padding-right: 30px;
            .mob-ver {
                display: none;
            }
            li {
                a {
                    color: #fff;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    &:hover {
                        padding: unset !important;
                        background-color: unset !important;
                    }
                }
                form {
                    display: flex;
                    align-items: center;
                    input {
                        border: none;
                        padding: 5px;
                        border-bottom: 1px solid var(--main-color);
                        outline: none;
                        color: var(--second-color);
                        font-size: 16px;
                        width: 0;
                        transition: all 0.3s;
                        opacity: 0;
                        background-color: transparent;
                        &.width {
                            opacity: 1;
                            width: 205px;
                        }
                    }
                    button {
                        background-color: transparent;
                        border: none;
                        font-size: 24px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        svg {
                            color: var(--main-color);
                        }
                    }
                }
            }
        }
    }
    .menus {
        .details {
            display: flex;
            max-width: 1366px;
            margin: 0 auto;
            justify-content: space-between;
            padding: 30px 10px 0;
            z-index: 3;
            position: relative;
            flex-wrap: wrap;
            .detail {
                ul {
                    li:first-child {
                        font-weight: 600;
                        font-size: 17px;
                        color: #fff;
                    }
                    li {
                        margin-top: 15px;
                        a {
                            color: #F3F9F8;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
.openIcon {
    background-color: transparent;
    width: 38px;
    height: 34px;
    position: relative;
    cursor: pointer;
    z-index: 9999993;
    background-color: #29997F;
    border-radius: 5px;
}

.openIcon span {
    width: 22px;
    height: 2.5px;
    position: absolute;
    top: 50%;
    border-radius: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    transition: all 0.3s ease;
}
.openIcon .line-1 {
    transform: translate(-50%, -9px);
}
.openIcon .line-3 {
    transform: translate(-50%, 6px);
}
.openMenu .line-1 {
    transform: translate(-50%, -50%) rotate(45deg);
}
.openMenu .line-3 {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.openMenu .line-2 {
    width: 0;
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: unset;
        max-width: 500px;
        margin: unset;
        padding: 20px 24px 10px;
        .top-side {
            display: none;
        }
        .bottom-side {
            width: 100%;
            margin-top: 0;

            .logo {
                a {
                    svg {
                        width: 130px;
                    }
                }
            }
            #acc {
                display: none;
            }
            #rightt {
                #login-top, #ser {
                    display: none;
                }
                .mob-ver {
                    display: unset;
                }
                li {
                    a {
                        svg {
                            width: 20px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }

    .openIcon {
        width: 34px;
        height: 32px;
    }

    .full-menu {
        overflow: hidden;
        bottom: 100%;
    }
}