#currency-container {
    width: 35%;
    background-color: #41A58D;
    border-radius: 10px;
    padding: 20px;

    h1 {
        font-size: 22px;
        font-weight: 600;
        color: #fff;
    }

    div.currency-lines {
        padding: 13px 0;
        border-bottom: 1px solid #70BBAA;
        color: #fff;

        &.currency-lines {
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
                display: flex;
                flex-direction: column;

                span {
                    &:last-child {
                        font-size: 14px;
                    }
                }
            }

            span {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #currency-container {
        width: 89%;
        margin: 0 20px;
    }
}