.star-rating {
    display: flex;
    align-items: center;
}

.star {
    font-size: 24px;
    color: lightgray; /* Bo'sh yulduz rangi */
    margin-right: 5px;
}

.star.full {
    color: gold; /* To'liq yulduz rangi */
}

.star.half {
    background: linear-gradient(to right, gold 50%, lightgray 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star.empty {
    color: lightgray; /* Bo'sh yulduz */
}
