#succ {
    padding: 10px 20px;
    background-color: #41A58D;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 9999999;
    border-radius: 6px;
}