.profile-container {
    background-color: #F5F5F5;

    .to-back {
        background-color: #41A58D;
        height: 50px;
        margin-top: 146px;

        .backInner {
            margin: 0 auto;
            max-width: 1366px;
            align-items: center;
            display: flex;
            height: 100%;
            padding: 0 50px;
            color: #fff;

            span {
                display: flex;
                align-items: center;
            }

            a {
                color: #fff;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    .profile-inner {
        padding: 30px 50px;
        display: flex;
        justify-content: center;
        gap: 20px;

        .left {
            width: 25%;
        }

        .right {
            width: 70%;
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;

            .page-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-weight: 600;
                    font-size: 24px;
                }
            }

            form {
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                row-gap: 15px;

                .input-row {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
                    width: 100%;

                    &.cheg-row {
                        width: 60%;
                        display: flex;
                        flex-direction: unset;
                        justify-content: center;
                        gap: 20px;
                    }

                    .cheg-inp {
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;

                        .past-price {
                            height: 45px;
                        }
                    }

                    .check-inp {
                        display: none;

                        &:checked~.checkbox {
                            background-color: #41A58D;


                            span {
                                left: 46%;
                                background-color: #fff;
                            }
                        }
                    }

                    .checkbox {
                        width: 54px;
                        height: 25px;
                        background-color: rgb(231, 244, 241);
                        border-radius: 20px;
                        display: block;
                        position: relative;
                        padding: 2px;
                        cursor: pointer;

                        span {
                            display: block;
                            width: 23px;
                            height: 93%;
                            border-radius: 50%;
                            background-color: #fff;
                            position: absolute;
                            left: 1px;
                            top: 1px;
                            transition: all 0.3s;

                            &.active {
                                left: 49%;
                            }
                        }
                    }
                }

                label {
                    color: #767676;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;
                }

                .inputs {
                    position: relative;
                    width: 100%;

                    .cheg {
                        display: flex;
                        gap: 20px;
                        align-items: center;
                    }

                    .cheg-inp {
                        display: flex;

                    }

                    svg {
                        width: 20px;
                        height: 20px;
                    }

                    #file-label {
                        position: relative;
                        background-color: #F8F8F8;
                        border: 1px solid #F2F2F2;
                        outline: none;
                        font-size: 16px;
                        padding: 5px 10px 5px 10px;
                        height: 45px;
                        width: 100%;
                        border-radius: 7px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }

                    input[type="file"] {
                        display: none !important;
                    }

                    input {
                        background-color: #F8F8F8;
                        border: 1px solid #F2F2F2;
                        outline: none;
                        font-size: 16px;
                        padding: 5px 10px 5px 10px;
                        height: 45px;
                        width: 100%;
                        border-radius: 7px;
                    }

                    select {
                        background-color: #F8F8F8;
                        border: 1px solid #F2F2F2;
                        outline: none;
                        font-size: 16px;
                        padding: 5px 10px 5px 10px;
                        height: 45px;
                        width: 100%;
                        border-radius: 7px;
                        color: #AFB3B5;
                    }

                    svg {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 8px;
                        z-index: 99;
                    }
                }

                .error-message {
                    color: red;
                    font-size: 15px;
                    display: none;
                }

                .button {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    #sub {
                        background-color: #41A58D;
                        width: 195px;
                        height: 45px;
                        border-radius: 7px;
                        font-size: 16px;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        cursor: pointer;
                        position: unset;
                    }

                    .close {
                        position: unset;
                        width: 150px;
                        height: 45px;
                        background-color: transparent;
                        border: 2px solid #41A58D;
                        color: #41A58D;
                        cursor: pointer;
                        border-radius: 7px;
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}