#shopSwiper {
    padding: 20px 30px;
    max-width: 1366px;
    margin: 0 auto;

    .mySwiper {
        display: flex;
        width: 100%;
        
        .swiper-slide {
            width: 100%;
            opacity: 1 !important;
        }
    }
}

.swiperCont {
    width: 100%;
    height: 70px;
    position: relative;

    &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #0f1626a2;
        z-index: 2;
        content: "";
        border-radius: 15px;
    }
    
    img {
        border-radius: 15px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    span {
        z-index: 3;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 17px;
        color: #fff;
        font-weight: 600;
    }
}