.announce-price {
    white-space: nowrap;
                        /* Matnni bir qatorga sig'dirish */
                        overflow: hidden;
                        /* Sig'magan qismni yashirish */
                        text-overflow: ellipsis;
                        /* Uch nuqta qo'shish */
}