.announce-price, .announce-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: unset !important;
    height: 100% !important;
    position: relative;
    top: 38px;
    transform: translateY(-50%);
}

.announce-title {
    -webkit-line-clamp: 2 !important;
}