#profileSideBar {
    background-color: #FFFFFF;
    padding: 30px 24px;
    border-radius: 7px;

    ul {
        li {
            a {
                display: flex;
                align-items: center;
                padding: 10px 5px;
                color: #5A5A5A;
                gap: 5px;


                &#logout-profile {
                    color: red;

                    svg {
                        path {
                            stroke: red;
                        }
                    }
                }

                svg {
                    width: 19px;
                    height: 19px;
                    
                    path {
                        stroke: #5A5A5A;
                        stroke-width: 1px;
                    }
                }

                &:hover, &.active {
                    color: #41A58D;

                    svg {
                        path {
                            stroke: #41A58D;
                        }
                    }
                }
            }
        }
    }
}