#courseCategory {
    background-color: #F5F5F5;

    .to-back {
        background-color: #41A58D;
        height: 50px;
        margin-top: 166px;

        .backInner {
            margin: 0 auto;
            max-width: 1366px;
            align-items: center;
            display: flex;
            height: 100%;
            padding: 0 50px;
            color: #fff;

            span {
                display: flex;
                align-items: center;
            }

            a {
                color: #fff;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    .allProductsPoster {
        background-color: #fff;
        height: 100px;

        .posterInner {
            max-width: 1366px;
            margin: 0 auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 50px;
            color: #41A58D;

            h2 {
                font-weight: 600;
                font-size: 28px;
            }

            img {
                width: 790px;
                height: 105px;
            }
        }
    }

    .courseInner {
        display: flex;
        gap: 20px;
        padding: 50px;
        max-width: 1366px;
        min-height: 100vh;
        margin: 0 auto;

        .courses-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 15px;
            width: 100%;

            .course-card {
                opacity: 1;
                transform: translateY(30px);
                transition: all 1s;
                width: 380px;

                .card-img {
                    width: 100%;
                    height: 220px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }

                a {
                    color: #118E71;
                    display: block;
                }

                .card-title {
                    color: #4B4B4B;
                    font-size: 18px;
                    font-weight: 600;
                    margin: 10px 0;
                }

                .card-description {
                    color: #757575;
                    margin: 10px 0;
                }

                .line {
                    height: 1px;
                    background-color: #D9D9D9;
                }

                .about-card {
                    display: flex;
                    justify-content: space-between;

                    .detail {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #757575;
                        gap: 5px;
                        border-right: 1px solid #D9D9D9;
                        padding-right: 8px;
                        margin: 10px 0;

                        &:last-child {
                            border: unset;
                        }

                        svg {
                            width: 17px !important;
                            height: 17px !important;
                        }
                    }
                }

                .author {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #757575;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #courseCategory {
        .to-back {
            margin-top: 85px;           
        
            .backInner {
                padding: 0 20px;
            }
        }       

        .allProductsPoster {
            .posterInner {
                padding-left: 20px;
                img {
                    display: none;
                }

                h2 {
                    font-size: 22px;
                }
            }
        }

        .courseInner {
            padding: 20px;
            .courses-cards {
                justify-content: center;
                padding: 0 15px;
                .course-card {
                    width: 100%;
                }
            }
        }
    }   
}
