#signup-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    // overflow: hidden;
    position: relative;
    background-color: #F5F5F5;
    padding-top: 70px;

    &.step-3-cont {
        flex-direction: column;
        row-gap: 40px;

        .procsess {
            display: flex;
            align-items: center;
            gap: 20px;

            .step-3-line {
                width: 40px;
                height: 3px;
                border-radius: 3px;
                background-color: #B3B3B3;

                &.active {
                    background-color: #41A58D;
                }
            }
            .step-3-procsess {
                color: #41A58D;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .step-4-procsess {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #B3B3B3;

                &.active {
                    color: #41A58D;
                }
            }
        }
    }

    .signup-header {
        max-width: 1366px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: fixed;
        top: 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: unset;

        .logo {
            a {
                svg {
                    width: 150px;
                    height: 40px;
                }
            }
        }

        .signup-header-right {
            display: flex;
            align-items: center;
            gap: 15px;

            .dropdown {
                background-color: #F5F5F5;
                padding: 7px 7px;
                border-radius: 5px;
                position: relative;

                a {
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    color: #303030;

                    svg {
                        width: 15px;
                        height: 15px;
                    }

                }

                ul {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0;
                    border-radius: 7px;
                    position: absolute;
                    background-color: #41A58D;
                    left: 0;

                    li {
                        a {
                            color: #fff;
                            display: flex;
                            align-items: center;
                            padding: 7px 15px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            #signup {
                background-color: #41A58D;
                padding: 9px 13px;
                border-radius: 7px;
                color: #fff;
                font-weight: 600;
                border: 1px solid transparent;


            }
        }
    }

    .signup-container {
        background-color: #fff;
        padding: 20px;
        width: 460px;
        border-radius: 10px;

        &.third-step {
            width: 750px;
        }

        .signup-top-text {
            text-align: center;

            h3 {
                font-size: 20px;
                font-weight: 600;
            }

            p {
                width: 70%;
                margin: 0 auto;
                margin-top: 15px;
                color: #1E1E1E;
                font-size: 17px;
            }
        }

        form {
            // margin-top: 15px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            .input-container {
                display: flex;
                flex-direction: column;
                row-gap: 2px;
                position: relative;

                .a {
                    position: relative;
                    width: 100%;

                    svg {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 9px;
                        width: 20px;
                        height: 20px;
                    }

                    .eye {
                        width: 20px;
                        height: 20px;
                        right: 9px;
                        left: unset;
                        cursor: pointer;

                        &.s {
                            fill: #41A58D;
                        }
                    }

                    #code {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 37px;
                        color: #7a7c82;
                    }

                    #phone {
                        padding-left: 76px;
                    }
                }


                label {
                    color: #1E1E1E;
                }

                #password {
                    padding-right: 35px;
                }

                input {
                    border: 2px solid #F2F2F2;
                    border-radius: 7px;
                    padding: 5px 10px;
                    height: 47px;
                    outline: none;
                    font-size: 16px;
                    width: 100%;
                    padding-left: 35px;

                    &:focus,
                    &:valid {
                        border-color: #41A58D;
                    }
                }
            }

            #forgotPass {
                color: #41A58D;
                display: flex;
                margin: 5px 0;

                &:hover {
                    text-decoration: underline;
                }
            }

            .second-step {
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                h2 {
                    font-weight: 600;
                    font-size: 20px;
                    color: #1E1E1E;
                    text-align: center;
                }

                p {
                    text-align: center;
                    color: #1E1E1E;
                }

                .code-inputs {
                    display: flex;
                    margin: 0 auto;
                    width: 230px;
                    justify-content: space-between;

                    input {
                        text-align: center;
                        outline: none;
                        height: 40px;
                        width: 35px;
                        border-radius: 7px;
                        color: #1E1E1E;
                        font-size: 16px;
                        border: 2px solid #F2F2F2;

                        &:valid,
                        &:focus {
                            border: 2px solid #41A58D;
                        }
                    }
                }
            }

            button {
                background-color: #41A58D;
                height: 45px;
                color: #fff;
                font-size: 16px;
                border-radius: 7px;
                cursor: pointer;
                border: none;
                display: flex;
                align-items: center;
                gap: 5px;
                justify-content: center;
                width: 100%;

                &#resend-btn {
                    background-color: transparent;
                    color: #41A58D;
                }

                &:hover {
                    background-color: #41a58eb2;
                }
            }

            .error-message {
                font-size: 15px;
                color: red;
            }

            .signup-link {
                text-align: center;
                margin: 10px 0 0;

                a {
                    color: #41A58D;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        #registration-confirmation {
            h2 {
                font-weight: 600;
                font-size: 20px;
            }

            h3 {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 500;
            }

            form#second-form {
                
                #qw {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    row-gap: 10px;
                }

                .input-row {
                    &.w-50 {
                        width: 49%;
                    }
                    label {
                        color: #1e1e1e;
                    }

                    .input-and-icon {
                        position: relative;
                        margin-top: 3px;

                        img {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 8px;
                        }

                        input , select, textarea {
                            border: 2px solid #F2F2F2;
                            border-radius: 7px;
                            padding: 5px 10px;
                            height: 47px;
                            outline: none;
                            font-size: 16px;
                            width: 100%;
                            padding-left: 35px;
                            background-color: #F8F8F8;
                        }
                    }

                }

                .next-btn {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    gap: 20px;

                    #back-btn {
                        background-color: transparent;
                        color: #41A58D;
                    }

                    button {
                        width: 200px;
                    }

                    #submit-btn-last {
                        &:disabled {
                            background-color: #0C0C0D33;
                            cursor: not-allowed;
                        }
                    }
                }

                .faoliyat-container {
                    display: flex;
                    flex-direction: column;
                    margin-top: 15px;
                    row-gap: 10px;

                    input {
                        display: none;
                    
                        &:checked ~ label {
                            color: #41A58D;
                            box-shadow: unset;

                            &::before {
                                background-color: #41A58D;
                            }
                        }
                    }

                    label {
                        width: 50%;
                        display: block;
                        margin: 0 auto;
                        border: 1px solid #F3F3F3;
                        padding: 13px 15px;
                        border-radius: 5px;
                        cursor: pointer;
                        box-shadow: 0 5px 5px #00000011;
                        position: relative;
                        text-align: center;
                        color: #5A5A5A;

                        &::before {
                            left: 15px;
                            position: absolute;
                            content: "";
                            width: 20px;
                            height: 20px;
                            border: 1px solid #F3F3F3;
                            border-radius: 5px;
                            transition: all .2s;
                            box-shadow: unset;
                        }

                        &::after {
                            top: 35%;
                            transform: translateY(-50%);
                            position: absolute;
                            content: "";
                            width: 5px;
                            height: 11px;
                            border: 2px solid #fff;
                            left: 23px;
                            border-top: none;
                            border-left: none;
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            #third-step {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;
                justify-content: space-between;

                .w-60 {
                    width: 60%;
                }

                .w-50 {
                    margin-top: 10px;
                    width: 48%;
                }

                textarea {
                    height: 150px !important;
                    resize: none;
                    padding: 20px !important;
                }
            }

            
        }
    }
}

@media screen and (max-width: 500px) {
    #signup-cont {
        margin: 0;

        .signup-header {
            .signup-header-right {
                display: none;
            }
        }

        .signup-container {
            margin: 0 12px;

            .signup-top-text {
                text-align: start;

                p {
                    margin: 15px 0 0;
                    width: 100%;
                }
            }
        }
    }
}