#topProductss {
    margin-top: 10px;
    padding: 10px 50px 30px;

    .categories {
        display: flex;
        gap: 10px;
        align-items: center;
        max-width: 1366px;
        margin: 0 auto;

        .custom-catgories {
            display: flex;
            gap: 10px;
            overflow-x: auto;
            max-width: 978px;
            padding-bottom: 2px;

            &::-webkit-scrollbar {
                width: 5px; /* Scrollning kengligi */
                height: 5px
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1; /* Foni */
                border-radius: 10px;
            }
            
            /* Scrollning o'zi (dragger) */
            &::-webkit-scrollbar-thumb {
                background: #888; /* Scrollning rangi */
                border-radius: 10px;
            }
            
            /* Hover paytida scrollning o'zgarishi */
            &::-webkit-scrollbar-thumb:hover {
                background: #555; /* Hover rangi */
            }
    
            a {
                background-color: #F5F5F5;
                border-radius: 20px;
                border: 0;
                display: flex;
                align-items: center;
                padding: 9px 15px;
                gap: 5px;
                cursor: pointer;
                font-size: 16px;
                color: #303030;
    
                &:hover {
                    background-color: #41A58D;
                    
    
                    span {
                        color: #fff;
                    }
                }
    
                &.active {
                    background-color: #41A58D;
                    
    
                    span {
                        color: #fff;
                    }
                }
            }
        }

        .default-category {
            padding: 9px 15px;
            border-radius: 20px;
            background-color: #41A58D;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;

            &:hover {
                background-color: #41a58ec7;
            }
        }
    }

    .products {
        max-width: 1366px;
        margin: 0 auto;
        margin-top: 25px;

        .title {
            color: #1E1E1E;
            font-size: 24px;
            font-weight: 600;
        }

        .littleTitle {
            color: #757575;
            margin-top: 5px;
        }

        .productsInner {
            display: flex;
            gap: 20px 15px;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 30px;

            .product {
                width: 300px;
                overflow: hidden;
                border-radius: 10px;
                opacity: 0;
                transform: translateY(30px);
                transition: all 1s;

                &.revealed {
                    opacity: 1;
                    transform: unset;
                }

                // &:hover {
                //     box-shadow: 0 0 20px #00000038;
                // }

                .imgContainer {
                    width: 100%;
                    height: 300px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }
                
                .productTitle {
                    margin-top: 5px;
                    color: #1E1E1E;
                    font-weight: 600;
                    font-size: 17px;
                    margin-top: 10px;
                }

                .productDescription {
                    margin-top: 5px;
                    color: #757575;
                    font-size: 15px;
                }

                .price {
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-between;

                    .oldPrice {
                        font-size: 14px;
                        color: #757575;
                        text-decoration: line-through;
                    }

                    .newPrice {
                        color: #41A58D;
                        font-weight: 600;
                    }
                }

                .details {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    border-top: 1px solid #EBEBEB;
                    margin-top: 15px;
                    padding-top: 10px;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: #757575;
                    }
                }

                .author {
                    align-items: center;
                    gap: 10px;
                    display: flex;
                    margin-top: 10px;


                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        color: #757575;
                    }
                }
            }
        }
    }
}

.showMoreBtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        cursor: pointer;
        padding: 12px 20px;
        border-radius: 8px;
        border: 1px solid #F3F3F3;
        color: #41A58D;
        background-color: transparent;
        font-size: 16px;

        &:hover {
            background-color: #F3F3F3;
            
        }
    }
}