@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar-hide";
@plugin "@tailwindcss/aspect-ratio";

@theme {
  --color-text: #4b4b4b;
  --color-ttext: #29997F;
  --color-brand: #41a58d;
  --color-lbrand: #51BEA4;
  --color-tbrand: #E7F4F1;
  --color-border: #f8f8f8;
  --color-tborder: #C2C2C2;
  --color-sm-border: #f3f3f3;
  --color-background: #f2f2f2;
  --color-placeholder: #afb3b5;
  --color-description: #757575;
  --color-bg-placeholder: #f5f5f5;
  --color-text-placeholder: #757575;
  --color-yellow-pro: #E8B931;
  --spacing: 0.4rem;
  --font-display: "Golos Text", "sans-serif";
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"] {
  -moz-appearance: textfield;
}

.list-categories-container::after {
  content: "";
  display: block;
  position: absolute;
  width: 4rem;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  bottom: 0;
  right: 0;
  z-index: 9999;
}
