.p-relative {
    position: relative;
}

.productsInner {
    display: flex;
    gap: 20px 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-bottom: ;

    .product {
        width: 300px;
        overflow: hidden;
        border-radius: 10px;
        opacity: 0;
        transform: translateY(30px);
        transition: all 1s;

        &.revealed {
            opacity: 1;
            transform: unset;
        }

        .imgContainer {
            width: 100%;
            height: 300px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
        
        .productTitle {
            margin-top: 5px;
            color: #1E1E1E;
            font-weight: 600;
            font-size: 17px;
            margin-top: 10px;
        }

        .productDescription {
            margin-top: 5px;
            color: #757575;
            font-size: 15px;
        }

        .price {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;

            .oldPrice {
                font-size: 14px;
                color: #757575;
                text-decoration: line-through;
            }

            .newPrice {
                color: #41A58D;
                font-weight: 600;
            }
        }

        .details {
            display: flex;
            gap: 10px;
            align-items: center;
            border-top: 1px solid #EBEBEB;
            margin-top: 15px;
            padding-top: 10px;

            div {
                display: flex;
                align-items: center;
                gap: 5px;
                color: #757575;
            }
        }

        .author {
            align-items: center;
            gap: 10px;
            display: flex;
            margin-top: 10px;


            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {
                color: #757575;
            }
        }
    }
}

.pagination {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}