#notFound {
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding-top: 100px;

    h2 {
        color: #1E1E1E;
        font-size: 20px;
        font-weight: 600;
        margin-top: 15px;
    }

    p {
        color: #757575;
        margin-top: 10px;
        width: 350px;
        text-align: center;
    }

    a {
        margin-top: 10px;
        display: block;
        padding: 10px 20px;
        color: #fff;
        background-color: #41A58D;
        border-radius: 7px;
    }
}

@media screen and (max-width: 500px) {
    #notFound {
        height: 100vh;
        
        img {
            width: 200px;
        }       
    }
}