#topOffers {
    max-width: 1366px;
    margin: 0 auto;
    margin-top: 10px !important;
    padding: 10px 50px 30px;


    .products {
        margin-top: 25px;

        .title {
            color: #1E1E1E;
            font-size: 24px;
            font-weight: 600;
        }

        .littleTitle {
            color: #757575;
            margin-top: 5px;
        }

        .productsInner {
            display: flex;
            gap: 20px 15px;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 30px;

            @media (max-width: 1000px) {
                .productsInner {

                    .product {
                        width: 200px !important;
                    }
                }
            }

            .link-a {
                opacity: 0;
                transform: translateX(-30px);
                transition: all 1s;
            
                &.revealed {
                    opacity: 1;
                    transform: unset;
                }
            }

            .product {
                width: 300px;
                overflow: hidden;
                border-radius: 10px;

                // &:hover {
                //     box-shadow: 0 0 20px #00000038;
                // }

                .imgContainer {
                    width: 100%;
                    height: 300px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }
                
                .productTitle {
                    color: #1E1E1E;
                    font-weight: 600;
                    font-size: 17px;
                    margin-top: 10px;
                    margin-top: 5px;
                }

                .productDescription {
                    color: #757575;
                    font-size: 15px;
                    margin-top: 5px;
                }

                .details {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    border-top: 1px solid #EBEBEB;
                    margin-top: 15px;
                    padding-top: 10px;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: #757575;
                    }
                }

                .author {
                    align-items: center;
                    gap: 10px;
                    display: flex;
                    margin-top: 10px;


                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        color: #757575;
                    }
                }
            }

        }
    }
}

.showMoreBtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;

    button, a {
        cursor: pointer;
        padding: 12px 20px;
        border-radius: 8px;
        border: 1px solid #F3F3F3;
        color: #41A58D;
        background-color: transparent;
        font-size: 16px;

        &:hover {
            background-color: #F3F3F3;
        }
    }
}
