
#hero {
    padding: 120px 50px 0;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    min-height: calc(100vh);
    .ss {
        display: flex;
        align-items: center;
        z-index: 1;
        position: relative;
        height: 100%;
        width: 100%;
    }
    .swiper-cont {
        height: 100%;
        display: flex;
        padding: 50px 0 0;
        min-height: 470px;
        max-width: 1366px;
        margin: 0 auto;
        .swiper-left {
            width: 60%;
            display: flex;
            align-items: center;
            .hero-text {
                .title {
                    font-size: 42px;
                    font-weight: 600;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    pointer-events: none;
                }
                .about-product {
                    font-size: 18px;
                    color: #757575;
                    margin: 15px 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;  
                    text-overflow: ellipsis;
                    pointer-events: none;
                }
                .line {
                    margin: 15px 0;
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    align-items: center;
                    .ql {
                        display: flex;
                        gap: 10px;
                    }
                    .more-link {
                        background-color: #41a58d;
                        padding: 11px 35px;
                        border-radius: 7px;
                        color: #fff;
                        &:hover {
                            background-color: #41a58ebb;
                        }
                    }
                    .products-link {
                        background-color: #fdffff;
                        padding: 11px 35px;
                        border-radius: 7px;
                        color: #41a58d;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        &:hover {
                            background-color: #f3efef;
                        }
                    }
                    .name-work {
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;
                        align-items: flex-end;
                        .name {
                            font-size: 15px;
                            color: #41a48d;
                            background-color: #77F9DA4D;
                            padding: 10px;
                            border-radius: 12px;
                        }
                        .work {
                            background-color: #B7B7B726;
                            padding: 10px;
                            border-radius: 20px;
                            color: #757575;
                            font-size: 14px;
                        }
                    }
                }
            }
            .custom-pagination {
                text-align: center;
                display: flex;
                gap: 5px;
                justify-content: center;
                align-items: center;
                .custom-pagination-bullet {
                    background-color: #E6E6E6;
                    opacity: 1;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    cursor: pointer;
                    &.active {
                        background-color: #41A58D !important;
                    }
                    &:hover {
                        background-color: #ccc;
                    }
                }
            }
        }
        .swiper-right {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .shape {
                width: 230px;
                height: 230px;
                border-radius: 50%;
                background-color: #41A58D;
                position: relative;
                &::before {
                    width: 200px;
                    height: 200px;
                    content: "";
                    position: absolute;
                    top: -30%;
                    right: -30%;
                    background-color: #77F9DA4D;
                    backdrop-filter: blur(5px);
                    border-radius: 50%;
                }
                &::after {
                    width: 160px;
                    height: 160px;
                    content: "";
                    position: absolute;
                    background-color: #B7B7B726;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -15%;
                    border-radius: 50%;
                    backdrop-filter: blur(5px);
                }
            }
            img {
                position: absolute;
                width: 320px;
                bottom: 0;
                max-height: 426px;
            }
        }
    }
}
.highlight  {
    color: #42ac91;
}
.swiper-slide {
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out;
}
.swiper-slide-active {
    opacity: 1 !important;
}
.custom-navigation {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 0;
    bottom: 30px;
    z-index: 99;
    button {
        background-color: #f3efef;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: 0;
        &:hover {
            background-color: #fff;
        }
        img {
            width: 20px;
            height: 20px;
            position: unset !important;
        }
    }
}
@media screen and (min-width: 1400px) {
    .custom-navigation {
        right: 6%;
    }
}
@media screen and (min-width: 1700px) {
    .custom-navigation {
        right: 10%;
    }
}

@media screen and (max-width: 500px) {
    #hero {
        padding: 120px 20px 0;
        align-items: unset;
        .swiper-cont {
            flex-direction: column;
            padding: 0;

            .swiper-left {
                width: 100%;
                display: unset;
                .hero-text {
                    .title {
                        font-size: 26px;
                        text-align: center;
                        display: block;
                    }
                    .about-product {
                        display: block;
                        margin-top: 20px;
                        text-align: center;
                        padding: 0 20px;
                    }

                    .line {
                        flex-direction: column;

                        .name-work {
                            display: none;
                        }
                        a {
                            width: 48%;
                        }

                        .ql {
                            flex-wrap: wrap;
                        }

                        .custom-pagination {
                            width: 100%;
                            margin-top: 10px;
                        }
                    }
                }
            }

            .swiper-right {
                // display: none;
                width: 100%;

                .shape {
                    width: 150px;
                    height: 150px;
                    position: absolute;

                    &::before {
                        width: 160px;
                        height: 160px;
                    }

                    &::after {
                        width: 130px;
                        height: 130px;
                    }
                }

                img {
                    position: relative;
                    width: 220px;
                    bottom: 0;
                    // max-height: 426px;
                }

                .name-work {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
                    align-items: flex-end;
                    .name {
                        font-size: 15px;
                        color: #41a48d;
                        background-color: #77F9DA4D;
                        padding: 10px;
                        border-radius: 12px;
                    }
                    .work {
                        background-color: #B7B7B726;
                        padding: 10px;
                        border-radius: 20px;
                        color: #757575;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
